.rbc-calendar {
    min-height: 600px;
   }
img {
    max-width: 50px;
    /* float: right; */
    
}
#title {
    width: 18%;
    margin: 0%; 
}
body, html, #root, button, .rbc-event-label, .rbc-event-content, .rbc-label, input{
    cursor: url('media/pencil.png'), pointer;
    font-family: 'Playfair Display', serif;
}
.rbc-time-gutter, .rbc-time-column, .rbc-timeslot-group{
    color: #dab9ff;
}
.rbc-time-content{
    color: gray;
}
button:hover{
    color: #c0c0c0;
}
.rbc-time-content{
    background-image: linear-gradient(red, yellow);
}
.rbc-current-time-indicator{
    color: #b9ffda;
}
.login{
}
#App{
    background-image: url('http://2.bp.blogspot.com/-i_oOoKdEUKs/VllggObsjrI/AAAAAAAAAJo/inpecOWIVQw/s1600/notebook_emptiness_old_table_pen_writing_hd-wallpaper-77243.jpg')
}
.name-input{
    /* background: transparent; */
    margin: 200px 300px;
}
.password-input{
    margin: 10px 700px;
}
.login{
    margin: 50px 100px;
}